* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}

@media (min-width: 990px) {
  body {
    font-size: 18px;
  }
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  color: #0063b9;
}

.lead {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 990px) {
  .lead {
    font-size: 24px;
  }
}

.container {
  padding: 20px;
}

@media (min-width: 990px) {
  .container {
    width: 80%;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}

canvas {
  width: 100%;
}

.post {
  margin-bottom: 60px;
}

.post-date {
  font-size: 14px;
  color: #aaa;
}

.post-description {
  margin-top: 0;
}

.code {
  display: none;
}

pre,
code {
  font-size: 14px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.highlight > pre {
  border-radius: 3px;
  background-color: #f9f9f9;
  padding: 10px;
}
